<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/chat.js"></script>
<link rel="stylesheet" href="/styles/chat.css">

<main>
    <h1>Chat de la aplicación: </h1>
    <div>
        <input type="text" id="chat-input">
    </div>
    <div id="messages">
        
    </div>
</main>